*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:url('backgrounds/coding.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    
}

ul{
    list-style: none;
    color: yellow;
}

ul li{
    float: left;
    width: 425px;
    height: 80px;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
}

ul li a{
    display: block;
    text-decoration: none;
    background-color: black;
}

ul li a:hover{
    background-color: #2e3758;
    cursor: pointer;
}

ul li ul li{
    background-color: black;
    text-align: justify;
    line-height: 45px;
    display: none;
}