* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('backgrounds/coding.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Berkshire Swash', cursive;
}

ul {
    list-style: none;
    color: yellow;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
    width: 425px;
    height: 80px;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    
    
}

ul li a {
    display: block;
    text-decoration: none;
    background-color: black;
    color: yellow;
}

ul li a:hover {
    cursor: pointer;
    
}

ul li ul li {
    background-color: black;
    text-align: justify;
    line-height: 45px;
    display: none;
    
}

ul li:hover ul li {
    display: block;
}

section {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 290px;
}

section h1,h2 {
    color: yellow;
    font-size: 35px;
    
}

section img {
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    border-radius: 100px;
    opacity: 0.9;   
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: yellow;
    color: black;
    opacity: 0.8;
    font-size: 20px;
    padding-bottom: 10px;
}
footer input{
    height: 20px;
    
}
